@import "tailwindcss";
@media print {
    body {
      background: white !important;
      padding: 0 !important;
    }
    .print\:hidden {
      display: none !important;
    }
    #pdf-report-content {
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
    .overflow-x-auto {
        overflow: hidden !important;
      }
  }